.app {
  margin: 20px auto;
  max-width: 500px;
}

.add-card {
  display: flex;
  flex-direction: column;
}

.add-card label {
  width: 100%;
  color: darkgreen
}

.add-card textarea {
  width: 100%;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgb(242, 242, 235);
  border-color: lightblue;
  padding: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button {
  width: 500px;   
  margin: 10px;
}

.card-list {
  margin: 20px 0;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-item {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
  background: lightblue;
  width: calc(50% - 10px);
  height: 100px;
}

.card-selected-item {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
  background: lightgreen;
  width: calc(50% - 10px);
  height: 100px;
}
